@media screen and (max-width:1030px) {
  .list_tasks-items {
    width: 100%;
  }
}

@media screen and (max-width:1000px) {
  .task-create-wrapper h1 {
    font-size: 2rem;
  }
  .task-create-wrapper {
    width: 100%;
  }
  .task_item {
    width: 100%;
    h1 {
      font-size: 2rem;
    }
  }
  .title_list_opros {
    font-size: 2rem;
  }
  .nav-desk {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .nav-mobile .logo {
    display: flex;
  }
}


@media screen and (max-width:980px) {

  .footer {
    font-size: 14px;
  }

  .deltaks {
    margin: 1rem 0;
  }

  .taks_itemI button {
    height: 3rem;
  }

  .controls-finish .btn{
    height: 3rem !important;
  }

  .task_item {
    width: 100%;
  }

  .title_app {
    padding-bottom: 4rem;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .auth-card {
    width: 100%;
  }

  .list_tasks-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .taks_itemI {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid rgb(222 222 222);
    padding: 2rem;
    margin-bottom: 1rem;
  }

  .list_tasks-items .btn.btn-small {
    width: 100%;
  }

  .taks_itemI {
    grid-template-columns: 1fr;
    text-align: center;
  }

  h3.finish_step__title {
    font-size: 2rem;
  }

  h4.finish_step__title {
    font-size: 1.5rem;
  }

  .controls-finish {
    margin-top: 4rem;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .modal-content .btn {
    width: 100%;
  }

  a.waves-effect.waves-light.btn {
    width: 100%;
  }

  .btn.modal-trigger {
    margin-bottom: 15px;
  }

  .modal-content h4 {
    font-size: 1.5rem;
  }

  .block_auth {
    padding-top: 2rem;
  }

}


